body {
  background-image: url("../images/disspatch1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative; 
  overflow-x: hidden;
  color:#505962;
  font-family: 'Calistoga', cursive;
  margin: 0;
  padding: 0;
 
 
}
.navbar{
text-transform: uppercase;
font-weight: 700;
font-size: .9rem;
letter-spacing: .1rem;
background: rgba(0,0,0,0.6)!important;
}
.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;

}
.navbar-dark .navbar-nav .nav-link.active ,
.navbar-dark .navbar-nav .nav-link:hover{
  color:#fa1717;

}


  


h1{
  
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  text-shadow: rgb(224, 18, 18) 2px 2px 3px;
}
.jumbotron{
background-color:white;
width: 100%;
max-width: 100%;
}

.jumbotron ,h1,strong{
  line-height: 30px;
}
.card{
  box-shadow: 0px 5px 10px 0px;
  margin-bottom: 20px;
  color : rgb(248, 202, 204);
}
#contact_form{
  align-items:center ;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 5px;
  background: rgba(0,0,0, .6);
  margin:auto;
  width: 40%;
  margin-top: 15%;

}
#login_form{
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 40%;
  
}
input{
  width: 10%;
}
.account, h6{
  margin-bottom: 4%;
  color: #e9eef3;
}
.btn-danger{
  height: 30px;
  margin-right: 25%;
  margin-bottom: 5%;
}
footer{
  color:black;
  text-transform: uppercase;
   background-color:#a2a8ad ;
   text-align: center;
   padding-top: 20px;
   width: 100%;
   position: fixed;
   left: 0;
   bottom: 0;
}
a i{
  padding-right: 10px;
  color:black;
  padding-top: 10px;
  padding-bottom: 20px;
  cursor: pointer;
}
a i:hover {
  color:white;
  transform: scale(1.5);

}

 h1{
  color: black;
}
